server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

# 日志配置
logging:
  file:
    name: ./logs/spring.log
  level:
    root: INFO
    com.example.wsTextEditor: DEBUG

spring:
  application:
    name: wsTextEditor
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
  web:
    resources:
      static-locations: classpath:/static/,file:src/main/resources/static/

  datasource:
    url: ${DB_URL:jdbc:postgresql://192.168.100.129:5432/ws_editor}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # RabbitMQ配置
  rabbitmq:
    host: 192.168.100.129
    port: 5672
    username: admin
    password: 123456
    virtual-host: /
  # ElasticSearch 配置
  elasticsearch:
    uris: http://192.168.100.129:9200

# Y-Websocket 配置
y:
  websocket:
    url: ws://localhost:1234
    browser:
      url: ws://localhost:1234

# 用户头像上传配置
user:
  avatar:
    upload-dir: uploads/avatars/
management:
  endpoints:
    web:
      exposure:
        # 暴露 prometheus 和 health 端点
        include: prometheus,health